{
  "plugins": ["transform-react-jsx", "transform-flow-strip-types", ["module-resolver", {
    "root": ["./src"],
    "alias": {
      "src": "./src",
      "components": "./src/components",
      "utils": "./src/utils"
    },
    "cwd": "babelrc"
    }]],
  "presets": ["react", "env"]
}
